/* font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

/* failed attempt to mader and adaptive layout  */
/* .adaptiv {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: grid;
  gap: 10px;
}

@media (max-width: 1200px) {
  .adaptiv {
    width: 1200px;
    grid-template-columns: 1fr 280px;
  }
}

@media (max-width: 1000px) {
  .adaptiv {
    width: 768px;
    grid-template-columns: 1fr 280px;
  }
}

@media (max-width: 768px) {
  .adaptiv {
    width: 480px;
    grid-template-columns: 1fr 280px;
  }
}

@media (max-width: 480px) {
  .adaptiv {
    width: 100px;
    grid-template-columns: 1fr 280px;
  }
} */

/* nav */
nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: 10%;
}

.logoText {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 35px;
  height: 36px;
  margin-right: 10px;
}

.ulNav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.liNav {
  margin-right: 20px;
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 25px;
}

a {
  text-decoration: none;
  color: #4f5665;
}

.navBtns {
  padding: 3%;
}

.btnNavSingIn {
  border: none;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 800;
  margin-right: 20px;
}

.btnNavSingUp {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #f53855;
  color: #f53855;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* header */

header {
  max-width: 1200px;
  display: flex;
  margin-left: 12%;
}

.headerLeft {
  max-width: 600px;
}
.headerTitle {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  margin-top: 20%;
}
.headerP {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 7%;
  margin-bottom: 7%;
}

.headerRight {
  max-width: 600px;
}
.btnHeader {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #f53838;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  box-shadow: 0 1px 45px #f53838;
  transition: box-shadow 0.1s ease-in-out;
}

#heroShotImg {
  width: 600px;
}

/* data-panel */
.someSiteData {
  margin-top: 10%;
  margin-left: 10%;
  max-width: 1200px;
}
.iconsCirlesDiv {
  display: flex;
  justify-content: space-between;
}
.iconsCercles {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-right: 2px solid #eeeff2;
}

.iconsINDataPanal {
  width: 55px;
  height: 55px;
  margin-top: 7%;
}
#thirdDataPanal {
  border: none;
}

.dataText {
  margin-left: 7%;
  margin-top: 8%;
}
.dataNum {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.dataName {
  color: #4f5665;
  font-family: " Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.features {
  /* background-image: linear-gradient(#f5f5f7, #fff); */
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-left: 10%;
}

.featLeft {
  max-width: 600px;
}

.featuresImg {
  width: 500px;
}

.fetaRigh {
  max-width: 600px;
  margin-left: 10%;
}

.fetaRigthP1 {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
#featureP2 {
  margin-top: 5%;
}

.featuRightP2 {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.featureUL {
  list-style-type: none;
  margin-top: 5%;
}

.featureLi {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-left: 10px;
}

.checkIcon {
  width: 24px;
  height: 24px;
}

/* plans */

.plans {
  max-width: 1200px;
  background-color: #fafafb;
}

.planTitle {
  color: #0b132a;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-top: 10%;
}

.plantDes {
  margin-left: 30%;
  margin-top: 1%;
  text-align: center;
  width: 600px;
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 4%;
}

.plansDisplay {
  margin-left: 10%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.paln {
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #fff;
}

.imgPlans {
  display: flex;
  margin-top: 25%;
  margin-left: 30%;
}

.planTitleP {
  color: #0b132a;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 10%;
}

.planUL {
  list-style-type: none;
  margin: 17%;
}

.planLI {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.prcingPlans {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 3%;
}
.btnPlans {
  width: 177px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #f53838;
  color: #f53838;
  font-family: "Rubik" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 22%;
}

#btnPlans3 {
  width: 177px;
  height: 45px;
  border-radius: 50px;
  background: #f53838;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* network */

.network {
  width: 1200px;
}

.networkP1 {
  color: #0b132a;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-top: 10%;
  max-width: 400px;
  margin-left: 38%;
}

.networkP2 {
  max-width: 550px;
  color: #4f5665;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 32%;
  margin-top: 2%;
}
.networkMap {
  max-width: 1200px;
  margin-left: 10%;
  margin-top: 5%;
}

.networkGroups {
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-top: 3%;
}

.networkGroups > img {
  max-width: 130px;
}

/* feedback */

.feedbackH1 {
  width: 430px;
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-left: 35%;
  margin-top: 7%;
}

.feedbackH5 {
  color: #4f5665;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 550px;
  margin-left: 30%;
  margin-top: 2%;
}

.customerReviews {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 9%;
  margin-top: 5%;
}

.custmComute {
  width: 360px;
  border-radius: 10px;
  background: #fff;
  height: 220px;
}

#custCom1 {
  border: 2px solid #f53838;
}

#custCom2 {
  border-radius: 10px;
  border: 2px solid #ddd;
}

#custCom3 {
  border-radius: 10px;
  border: 2px solid #ddd;
}

.reviewsText {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
  max-width: 310px;
  margin-left: 10%;
}

.upperPartOfreviews {
  display: flex;
  justify-content: baseline;
  max-width: 300px;
  justify-content: space-between;
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.customerName {
  color: #0b132a;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.customerLocation {
  color: #4f5665;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.navigationIconOnFeedback {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 5%;
}

#poginationDots {
  max-width: 220px;
  height: 15px;
  margin-top: 20px;
}
.navBothEroows {
  width: 85px;
  height: 60px;
}

/* subscribtion */
.subscribtion {
  max-width: 1000px;
  height: 180px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-top: 4%;
  border: 1px solid rgb(237, 235, 235);
  border-radius: 10px;
  /* position: relative; 
  z-index: 1; 
  margin-top: 50%;  */
}

.subText {
  max-width: 500px;
  margin-top: 4%;
}
.subcribtionRightBtn {
  max-width: 500px;
  margin-top: 5%;
}

.subcriiontionTexH1 {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.subcriiontionTextH5 {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btnSub {
  border-radius: 10px;
  background: #f53838;
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-top: 7%;
}

/* footer */

footer {
  z-index: auto;
  width: 1440px;
  height: 563px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: auto;
}

.footerLeft {
  background: #f8f8f8;
  margin-top: 15%;
  max-width: 350px;
}
.linksIcon {
  background: #f8f8f8;
}
.iconLinksSN {
  background: #f8f8f8;
}

.iconsFooter {
  background: #f8f8f8;
}
.footerP {
  background: #f8f8f8;
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 5%;
}
.footerLogoP {
  background: #f8f8f8;
  color: #0b132a;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.allRightsPFooter {
  background: #f8f8f8;
  color: #afb5c0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

#logoFooter {
  background: #f8f8f8;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footerRight {
  background: #f8f8f8;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
}

.footProduct,
.footEngage,
.footMoney {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  margin-left: 100px;
  margin-top: 30%;
}

.footProduct li {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  list-style: none;
  background-color: #f8f8f8;
}

.footEngage li {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  list-style: none;
  background-color: #f8f8f8;
}

.footMoney li {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  list-style: none;
  background-color: #f8f8f8;
}

.footMoney ul {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background-color: #f8f8f8;
}
.footEngage ul {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background-color: #f8f8f8;
}

.footProduct ul {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background-color: #f8f8f8;
}
